* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* line-height: 2em; */
    background-image: url(gambar/webb-dark.png);
    overflow-x: hidden;
}

/* ------------------------Container---------------------------- */
.container {
    width: 80%;
    background-color: blanchedalmond;
    margin: auto;
    display: grid;
}

/* ------------------------Navigasi---------------------------- */
nav {
    font-size: 4vmax;
    display: grid;
    grid-template-areas:
        'judul'
        'menu-list';
    grid-template-columns: 1fr;
    align-items: center;
    padding: 2rem;
    gap: 1.3rem;
}

nav .logo h1 {
    grid-area: judul;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: chocolate;
    justify-items: center;
}

nav ul {
    width: 80%;
    grid-area: menu-list;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(80px, 100px));
    gap: 0.5rem;
}

nav ul li a {
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    color: brown;
    text-decoration: none;
    text-align: center;
    background-color: burlywood;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: burlywood;
    color: white;
}

/* ----------------------Hamburger Menu------------------------------ */

.menu-toggle {
    grid-area: menu-ham;
    display: none;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -3px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: chocolate;
    border-radius: 3px;
    transition: all 0.5s;
    z-index: 1;
}

/* -----------------Hamburger Menu Animation-------------------------- */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: chocolate;
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: chocolate;
}

/* ------------------------Hero---------------------------- */
.hero {
    height: 25vw;
    background-image: url(gambar/hero.jpg);
    background-color: white;
    background-position: -3px -0.28em;
    background-size: cover;
    border-top: 8px solid brown;
    border-bottom: 8px solid chocolate;
}

/* -----------------------Konten-Produk--------------------------- */

.konten-satu {
    padding: 2rem 0;
    overflow-x: hidden;
    border-bottom: 8px solid brown;
    position: relative;
}

.konten-satu::before {
    content: "";
    background-image: url(gambar/Bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.konten-satu .product {
    font-size: 4vmax;
    display: grid;
    grid-template-areas:
        'judul'
        'kotak-pro';
    grid-template-rows: 50px 1fr;
    gap: 1rem;
    position: relative;
}

.product .sub-judul2 {
    grid-area: judul;
    position: relative;
    width: 13rem;
    height: 2.5rem;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-left: -1.5rem;
}

.product .sub-judul2 h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: chocolate;
    font-weight: bold;
    position: relative;
}

.product .sub-judul2::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(-50deg);
    background-color: brown;
}

.product .kotak-produk {
    grid-area: kotak-pro;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 5em));
    grid-template-rows: 1fr;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding: 0 0.5rem;
}

.kotak-produk .produk {
    display: grid;
    grid-template-rows: minmax(160px, 0.7fr) minmax(250px, 0.5fr) minmax(50px, 0.2fr);
    box-sizing: border-box;
    align-items: center;
    border-radius: 20px;
    font-size: 1.1rem;
    font-family: 'Nunito Sans', sans-serif;
    /* padding: 0 0.5rem; */
    background-color: whitesmoke;
    border: 5px dashed brown;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    gap: 10px;
}

.kotak-produk .produk.putih {
    background-color: rgb(235, 214, 187);
    order: 1;
    align-items: center;
}

.kotak-produk .produk.oranye {
    background-color: rgb(255, 68, 0);
    order: 3;
    align-items: center;
}

.kotak-produk .produk.hitam {
    grid-template-rows: minmax(160px, 1fr) minmax(250px, 0.5fr) minmax(50px, 0.2fr);
    background-color: dimgray;
    order: 2;
}

.produk .warna {
    align-self: start;
}

.produk .keterangan p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
}

.produk .penjelasan a {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: black;
}

/* ------------------------Konten-Tentang---------------------------- */
.konten-dua {
    padding: 2rem 0;
    overflow-x: hidden;
    border-bottom: 8px solid chocolate;
}

.konten-dua .about {
    display: grid;
    grid-template-areas:
        'judul'
        'kotak-ket';
    grid-template-rows: 50px 1fr;
    gap: 1rem;
}

.about .sub-judul3 {
    grid-area: judul;
    position: relative;
    width: 13rem;
    height: 2.5rem;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-left: -1.5rem;
}

.about .sub-judul3 h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: brown;
    font-weight: bold;
    position: relative;
    /* text-align: center; */
}

.about .sub-judul3::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(-50deg);
    background-color: chocolate;
}

.about .kotak-keterangan {
    grid-area: kotak-ket;
    background-color: rgba(219, 194, 156, 0.897);
    padding: 1.5rem;
    /* width: 100%; */
}

.about .kotak-keterangan p {
    font-family: 'Nunito Sans', sans-serif;
    /* position: relative; */
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
}

/* -----------------------Konten-Kontak--------------------------- */

.konten-tiga {
    padding: 2rem 0;
    overflow-x: hidden;
    border-bottom: 8px solid brown;
}

.konten-tiga .contact {
    display: grid;
    grid-template-areas:
        'judul'
        'kotak-kon';
    grid-template-rows: 50px 1fr;
    gap: 1rem;
}

.contact .sub-judul4 {
    grid-area: judul;
    position: relative;
    width: 13rem;
    height: 2.5rem;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-left: -1.5rem;
}

.contact .sub-judul4 h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: chocolate;
    font-weight: bold;
    position: relative;
}

.contact .sub-judul4::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(-50deg);
    background-color: brown;
}

.contact .kotak-kontak {
    grid-area: kotak-kon;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    justify-items: center;
}

.kotak-kontak .QRcode {
    display: grid;
    grid-template-rows: 300px 30px 50px 30px;
    font-size: 1.2rem;
    font-family: 'Nunito Sans', sans-serif;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 10px;
}

.kotak-kontak .qr {
    max-width: 300px;
}

.kotak-kontak .ikon {
    width: 50px;
    background-color: azure;
    border-radius: 10px;
}

/* ------------------------Footer----------------------------- */

.footer {
    padding: 0.5rem;
    background-color: chocolate;
}

.footer h3 {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

.footer a {
    color: black;
}

/* ------------------------------------------------------------------- */

/* Responsive Breakpoint Full HD */
/* @media screen and (max-width: 1024px) {
nav {
    grid-template-areas:
        'judul'
        'menu-list';
    gap: 0.2rem;
    grid-template-columns: 1fr;
}


nav ul {
    max-width: 80%;
    justify-items: start;
    grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
}

nav ul li a {
    background-color: inherit;
}

} */

/* Responsive Breakpoint Tablet */
@media screen and (max-width: 885px) {
    nav {
        grid-template-areas:
            'judul menu-ham';
        grid-template-columns: 2fr 1fr;
        padding: 1rem 2rem;
    }

    nav .logo h1 {
        font-size: 1.3em;
        text-align: center;
    }

    nav .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-self: end;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background-color: blanchedalmond;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: 1;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul li a {
        background-color: inherit;
        font-size: 0.45em;
        font-weight: bold;
    }

    nav ul li a:hover {
        background-color: burlywood;
        color: white;
    }

    .menu ul.slide {
        opacity: 1;
        transform: translateY(0);
    }

    .kotak-kontak .qr {
        max-width: 250px;
    }
}

/* Responsive Breakpoint Mobile */
@media screen and (max-width: 635px) {
    .container {
        width: 90%;
    }

    .kotak-kontak .QRcode {
        grid-template-rows: 200px 30px 50px 30px;
    }

    .kotak-kontak .qr {
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    nav .logo h1 {
        font-size: 0.7em;
        /* text-align: center; */
    }

    .product .kotak-produk {
        grid-template-columns: repeat(auto-fit, minmax(200px, 2em));
        grid-template-rows: 1fr;
        gap: 20px;
        /* padding: 0 0.5rem; */
    }

    .kotak-produk .produk {
        grid-template-rows: minmax(100px, 0.7fr) minmax(220px, 0.5fr) minmax(10px, 0.2fr);
        gap: 10px;
    }

    .kotak-produk .produk.hitam {
        grid-template-rows: minmax(100px, 1fr) minmax(200px, 0.5fr) minmax(10px, 0.2fr);
    }

    .contact .kotak-kontak {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .produk .warna {
        width: 200px;
    }

    .produk .keterangan p {
        font-size: 1rem;
    }

    .produk .penjelasan a {
        font-size: 0.9rem;
    }
}